<div class="container d-flex justify-content-between tamanho">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/2106809_5d28a64a1def4862e5ed39ea043b2b4c.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Trinca Ferro</h5>
            <p class="card-text text-start ">TrincaFerrus</p>

            <a href="#" class="btn btn-primary  container-fluid cor1" (click)="Comprar()">Comprar</a>

        </div>
    </div>

    <div class="container d-flex justify-content-between tamanho">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/aga.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Agapórnis</h5>
                <p class="card-text text-start ">Agapornus</p>
    
                <a href="#" class="btn btn-primary  container-fluid cor" (click)="Comprar()">Comprar</a>
    
            </div>
        </div>

        <div class="container d-flex justify-content-between tamanho">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/dzm10c2mknl91.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hector Salamanca</h5>
                    <p class="card-text text-start ">HerectusSalamancus</p>
        
                    <a href="#" class="btn btn-primary  container-fluid cor2" (click)="Comprar()">Comprar</a>
        
                </div>
            </div>
    
